/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require dashboard
 *= require flash_messages
 *= require header
 *= require plans
 *= require reset
 *= require sign_in
 *= require sign_up
 *= require subscriptions

*/

/***** Reset! Modified From: http://developer.yahoo.com/yui/reset *****/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline: none; text-decoration: none; }
a img { border: none; }
.clear { clear: both; font-size: 1px; line-height: 1px; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.texthide { text-indent: -9999em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display:block;
}


/***** Reset! Modified From: http://developer.yahoo.com/yui/reset *****/


html {
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
}

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/****************Common css starts here*****************/
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin:0; padding:0; outline:none; font-weight:normal; border:0 }
form, fieldset { float:left; width:100% }
img { border:0; }
a { text-decoration:none; border:0; outline:0; }
.clear { clear:both; width:auto !important }
body { font-family: Arial, Helvetica, sans-serif; font-size:12px; background: url(bg2.png) repeat 0 0; z-index: 0; overflow-y: scroll; overflow-x: hidden; }
ul { list-style:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block; margin:0; padding:0;}
/****************Common css ends here*****************/

/***** Pieces from mr.hurley theme *****/

body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button {
	margin: 0; padding: 0; border: 0; list-style: none;
}

a {
	text-decoration: none;
	color: #961b25;
}

a:hover {
	color: #6f92a7;
}

:focus {
	outline: 0;
}

h1, h2, h3 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; 
	font-weight: normal;
} 

h2 {
	font-size: 22px;
	line-height: 28px;
}

#main_image {
	background: url(big_image_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#image_body {
	background: transparent;
}

#vinyl_loop {
	width: 300px;
	margin: 0px auto;
}

#home_page_forms {
	width: 760px;
	margin: 0 auto;
	color: white;
	font-size: 15px;
}

#prospect_form {
	float: left;
	height: 200px;
	width: 400px;
	background: black;
	margin-top: 50px;
	margin-right: 10px;
	margin-left: 10px;
	opacity: .90;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

#prospect_form h2 {
	font-family:'Aller', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

#prospect_form h4 {
}

#prospect_form input {

}

#prospect_form a {
	

}

#inner_prospect {
	margin-left: 15%;
	margin-top: 5%;
}

#sign_in_form {
	float: left;
	width: 300px;
	height: 200px;
	background: black;
	margin-top: 50px;
	opacity: .90;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

#sign_in_form h2 {
	font-family:'Aller', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

#inner_sign_in {
	margin-left: 15%;
	margin-top: 5%;
}




/* Main container */	


/* Dashboard */	



/* Footer */
	
	
	
/* Form Stuff*/


	
