#header{float:left; width:100%; background:url(dark_linen.png) repeat-x 0 0; height:75px; opacity:.95;}
#header_content{width: 1013px; margin: 0 auto; color:white;}
#logo{float:left; width:63px; height:62px; padding:8px 0 0 1.6%;}
#logo h1{float:left; width:63px; height:62px;}
#nav{float:right; width:auto; padding-right:5%; padding:40px 5% 0 0;}
#nav ul{float:left; width:auto;}
#nav ul li{float:left; width:auto; padding:0 0 0 27px;}
#nav ul li a{float:left;font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#fff; font-weight:bold;}