// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plans {
  background-image: none;
  background-repeat: no-repeat;
  background-position: 480px -10px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 10px;
  width: 750px;
  h1 {
    font-size: 65px;
    font-family: Georgia, Times;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .plan {
    float: left;
    width: 200px;
    text-align: center;
	margin-top: 50px;
    margin-right: 25px;
	margin-left: 25px;
    -moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
    .name {
      color: black;
    }
    .details {
      padding-top: 5px;
      border: solid 1px #8D8D8D;
      background-color: white;
	  opacity: .95;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
    }
    .price {
      font-size: 50px;
    }
    .per_month {
      font-size: 12px;
      margin-bottom: 10px;
      color: #5E5E5E;
    }
    .kisses {
      font-size: 18px;
    }
    
  }
}