#sign_up_container {
	width: 300px;
	margin: 0 auto;
	color: white;
	font-size: 15px;
}

#sign_up_form {
	float: left;
	width: 300px;
	height: 230px;
	background: black;
	color: white;
	margin-top: 50px;
	opacity: .90;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

#inner_sign_up_form h2 {
	font-family:'Aller', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: white;
}

#inner_sign_up_form {
	margin-left: 15%;
	margin-top: 5%;
}