<footer class="bottom">
	<p>Contents and resources released under Creative Commons License.</p>
	<p>Design and code by Piervincenzo Madeo - 2010 Mr Hurley Theme - A free HTM5 and CSS3 template.</p>
</footer>